<!DOCTYPE html>
<html>

<head>
    <meta chaset="utf-8" />
    <title>NotesliderServer</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

    <main>
        <p>MainPage</p>
    </main>

</body>

</html>